@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'sass:color';

.tabs {

    @include m.tablet {
        display: flex;
    }

    button {
        background-color: v.$azul;
        border: none;
        color: v.$blanco;
        padding: 1rem;
        display: block;
        margin-bottom: 1rem;
        width: 100%;
        text-transform: uppercase;
        font-weight: v.$bold;
        transition: background-color 0.3s ease;
        

        &:hover {
            cursor: pointer;
            background-color: color.adjust(v.$azul, $lightness: 10%);
        }
        
        &.actual {
            background-color: v.$blanco;
            color: v.$azul;
        }

    }
}