@use 'base/variables' as v;
@use 'base/mixins' as m;

.listado-servicios {
    display: grid;
    gap: 2rem;

    @include m.tablet {
        @include m.grid(2, 2rem);
    }

    .servicio {
        background-color: v.$blanco;
        padding: 2rem;
        border-radius: 1rem;
        text-align: center;
        transition: transform 0.3s ease;
        
        &.seleccionado {
            background-color: v.$azul;
            p {
                color: v.$blanco;
            }

        }
        &:hover {
            transform: scale(1.1);
        }
        
        p{
            color: v.$negro;
            margin: 1rem;
        }
        .precio-servicio {
            color: v.$azul;
            font-weight: v.$bold;
            font-size: 3rem;

        }

    }
}